* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: orange;
  font-size: 16px;
}
main {
  margin: 0 auto;
  width: 550px;
}

#principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

h1 {
  font-size: 60px;
}

input {
  font-size: large;
  width: 300px;
  height: 40px;
  padding: 15px;
  border: 0;
}

.search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.search-btn {
  background-color: #fff;
  padding: 0 15px;
  border: 0;
  cursor: pointer;
}

.capitais {
  margin-top: 40px;
  padding: 20px 60px;
  border-top: 1px solid #fff;
}

.capitais h2 {
  color: #fff;
  font-size: 32px;
}

.cidades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.title {
  color: black;
  font-weight: 100;
  font-size: 14px;
  margin: 15px 0;
}

.title-min {
  margin-right: 8px;
}

.title-min-2 {
  margin-left: 165px;
  margin-right: 8px;
}
